@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(https://www.gov.br/planalto/pt-br/conheca-a-presidencia/acervo/simbolos-nacionais/bandeira/bandeiragrande.jpg);
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to left, rgb(9, 124, 255), rgb(79, 240, 15));
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

header > h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

header > p {
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

main {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.418);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
}